body {
  background-color: lightgrey;
}

.word {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  color: CadetBlue;
  text-align: center;
  cursor: pointer;
}

.score {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}

.star {
  text-emphasis-style: "\2605";
  text-emphasis-color: black;
  text-emphasis-position: under left;
}

.letter {
  display: inline-block;
  background-color: beige;
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  text-align: center;
  vertical-align: middle;
}

.letter::selection {
  text-shadow: 2px 4px 2px grey;
}

.letter.one {
  color: #e5db82;
}

.letter.two {
  color: #768766;
}

.letter.three {
  color: #bb9944;
}

.letter.four {
  color: #15252d;
}

.letter.five {
  color: #bb6622;
}

.letter.eight {
  color: #b1200f;
}

.letter.ten {
  color: #342e3a;
}
